# Ignora dependencias
.venv/
venv/
.env/
env/

# Ignora configuración del IDE
.vscode/

# Ignora archivos temporales de python
.mypy_cache/
__pycache__/

# Ignora archivos de secretos
secrets.json
config.json